@{
    ViewBag.Title = "Vitalii Yarema Contacts";
}
<h2>@ViewBag.Title.</h2>

<address>
    <abbr title="Phone">P:</abbr>
    +380 (95) 5550189
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:vyarema@windowslive.com">vyarema@windowslive.com</a>
</address>